$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;
$complete: #fdd8a7;

.hero {
  width: 100%;
  .main-container {
    height: 82vh;
    width: 75%;
    margin: auto;
    background-color: $main;
    .top-half-container {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .vertical-66 {
        height: 67%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .title-container {
          text-shadow: 0px 4px 4px #00000040;
          height: auto; //37.5% 25.5%
          width: auto; //73.2%; 57.4%
          margin-right: 20.3rem;
          margin-bottom: -1.2rem;
          float: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          h1 {
            font-size: 6em;
            margin: -0.1rem 0.2rem -0.8rem 0;

            -webkit-text-fill-color: $black;
            -webkit-text-stroke: 2px $black;
            paint-order: stroke fill;
            text-shadow: 3px 3px 1px #00000040, 5px 4px 1px #00000040,
              0px 4px 2px #00000040;
            // -webkit-text-stroke: ;
          }
          p {
            margin: 0.1rem -0.4rem 0 0;
            font-size: 2.25em;
            -webkit-text-fill-color: $black;
            -webkit-text-stroke: 0.2px $black;
            paint-order: stroke fill;
          }
        }
        .bottles-container {
          display: flex;
          .bottle {
            margin: 0 -49px;
            filter: drop-shadow(5px 4px 1px rgba(0, 0, 0, 0.251));
          }
          #bottle3 {
            // transform: rotate(90deg) translateX(140px) translateY(-510px);
            z-index: 2;
          }
        }
      }
      .vertical-33 {
        height: 33%;
        width: 100%;
        overflow: visible;
        .orange-bar {
          background-color: $complete;
          height: 5%;
          min-height: 52px;
          max-height: 52px;
          width: 50%; //38%
          position: absolute;
          z-index: 1;
          margin-left: -415px;
          box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.251);
        }
      }
    }
    .bottom-half-container {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      // background-color: aqua;
      .content-container {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;
        .hero-text-container {
          width: 100%;
          .welcome-text {
            text-align: center;
            margin: 1rem 0 0 0;
          }
        }
        .next-episode-container {
          margin: 2rem auto;
          h2 {
            margin: 0;
            font-size: 1.23em;
          }
        }
        .buttons-container {
          width: 73%;
          // height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          // background-color: $pink;
          .hero-button {
            width: 47%;
            height: 63px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color: $black;
            border-radius: 23px;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            .button-text {
              margin: 0;
              font-family: "Poppins-MediumItalic";
            }
          }
          .hero-button:hover {
            transform: scale(105%);
            transition: 0.1s;
            transition-timing-function: ease-in-out;
          }
        }
      }
    }
    .hero-image {
      position: absolute;
      z-index: 2;
      width: 1169px;
      height: 577px;
      left: 751px;
      top: 282px;
    }
  }
}
