$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;
$complete: #fdd8a7;

.episode-card {
  height: 100%;
  max-width: 100%;

  background-color: $black;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .episode-thumbnail-container {
    // width: 81.7%;
    margin: 2rem;
  }

  .episode-title {
    width: 81.7%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.5em;
    font-family: "Poppins-MediumItalic";
    text-align: center;
  }
  .episode-description {
    margin: 2.25rem 0 5.25rem 0;
    padding: 0;
    width: 81.7%;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
  }
}
