$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;
$complete: #fdd8a7;

.episode-card {
  height: 100%;
  max-width: 100%;
  margin: 0 5.4rem;
  background-color: $black;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
