$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;

header {
  // position: fixed;
  z-index: 99;
  width: 75%;
  height: 10vh;
  max-height: 64px;
  margin: 0 12.5%;
  border-bottom: $black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: $black;
    // font-weight: 500;
    font-size: 1.25em;
  }
  &.not-home {
    a {
      color: $black;
    }
  }
}

.nav-container {
  display: flex;
  margin: auto;
  position: relative;
  width: 80%;
  height: 90%;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    list-style: none;
    min-width: 100%;

    &.space-between {
      justify-content: space-between;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.center {
      justify-content: center;
    }
    .active {
      text-decoration: underline;
    }
  }
}
