$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;
$complete: #fdd8a7;

.timeline-section {
  width: 100%;
  height: 254vh;
  background-color: $complete;
  display: flex;
  justify-content: space-around;

  .timeline-section-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .timeline-section-top-container {
      width: 100%;
      height: 42vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .timeline-section-title-container {
        height: 35.4%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .timeline-section-title {
          margin: 0;
          font-size: 4em;
          text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .timeline-section-bot-container {
      width: 100%;
      .timeline-section-episode-container {
        //Card - Timeline - Handnotes
        //44 - 12 - 44
        width: 100%;
        height: 57vh;
        .episode-card-container {
          width: 44%;
          height: 100%;
        }
      }
    }
  }
}
