@font-face {
  font-family: "Parisienne";
  src: local("Parisienne"),
    url("./Static/Parisienne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./Static/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("./Static/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url("./Static/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-MediumItalic";
  src: local("Poppins-MediumItalic"),
    url("./Static/Poppins-MediumItalic.ttf") format("truetype");
}

$main: #f3eed9;
$pink: #fedcd9;
$black: #322d2f;

* {
  box-sizing: border-box;
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 300;
  font-size: 16px;
  p {
    font-family: "Poppins-Light";
    font-size: 1.23em;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: $main;
  color: $black;
  overflow-x: hidden;
  // h1 3.6 h2 3.0 starting
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2em;
  }
}

.handwritten {
  font-family: "Parisienne";
  color: $black;
  font-weight: normal;
}
